* {
    margin: 0 auto;
}

#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}
.section{
border-style:double;
border-color:black;
padding-top: 5rem;
padding-right: 5rem;
padding-bottom: 5rem;
padding-left: 5rem;
margin-top: 2rem;
margin-bottom: 2rem;
margin-right: 2rem;
margin-left: 2rem;
}
body{
background-color:grey;
}

.things{
border-style:double;
border-color:black;
}
.tools{
border-style:double;
border-color:black;
}
.left{
float: left;

}
.right{
float: right;

}
img{
width: 15rem;
}
iframe { 
width: 500px;
height: 500px;
margin-left: auto; 
margin-right: auto; 
}
p{
text-align: center;
}
th {
    padding: 10px;
    background-color: lightslategray;
}
td {
    padding: 10px;
    text-align: center;
}
.violentCrime {
    background-color: red;
}
.propertyCrime {
    background-color: blue;
}
.otherCrime {
    background-color: skyblue;
}
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}